
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_LayoutNavbarComponentPartial")

        @await Component.InvokeAsync("_LayoutSideBarComponentPartial")

        @RenderBody()

    </div>


    <!-- Modal -->
</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")

</html>
